/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


.social-share-holder{
	a{
		display: inline;
	}
}

p{
	color: #6e6d6d;
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
	letter-spacing: 0;
	font-family: 'Rubik',sans-serif;
}
