<footer class="give-me footer navbar navbar-dark bg-dark">
  <div class="footer-top navbar-expand m-auto navbar-text">
    <div class="footer-top-col1 col-lg-4">
    	<div class="social-share-holder">
	    	<a class="nav-item nav-link" href="https://www.facebook.com/" target="_blank">
	        	<i class="fa fa-facebook"></i>
	      	</a>

	      	<a class="nav-item nav-link" href="https://www.instagram.com/" target="_blank">
	        	<i class="fa fa-instagram"></i>
	      	</a>

	      	<a class="nav-item nav-link" href="https://www.linkedin.com/" target="_blank">
	        	<i class="fa fa-linkedin"></i>
	      	</a>
	    </div>
    </div>
    <div class="footer-top-col2 col-lg-4">Site map</div>
    <div class="footer-top-col3 col-lg-4">
    	<span> 069 317 xx xx </span>
    </div>
  </div>
  <div class="footer-bottom navbar-expand m-auto navbar-text">
    Copyright © 2018
  </div>
</footer>
