<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Belgrade Airport Taxi</a>
  <div class="navbar-expand mr-auto">
    
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/ride-services">Ride Services</a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
      <a class="nav-item nav-link" routerLink="/contact">Contact</a>
    </div>
  </div>
</nav>